/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#title {
  color: rgb(255, 247, 234);
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(134, 130, 69);
}

#subtitle {
  margin-top: 2%;
  margin-left: 2%;
}

#header {
  background-color: rgb(134, 130, 69);
  padding: 2%;
}

.decorar{
  list-style: none;
}

a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5%;
}

.line{
    border-bottom: 1px solid rgb(29, 22, 14);
}

a:hover {
  color: rgb(214, 190, 163);
  background-color: rgb(54, 48, 41);
  padding: 1.5%;
}

label {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 2%;
  margin-bottom: 2%;
}

input[type="text"] {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  width: 100%;
  border: 1px solid rgb(49, 39, 25);
}

input[type="submit"] {
  margin-top: 1.5%;
  border: none;
  padding: 2%;
  color: black;
  text-transform: uppercase;
  font-size: 1em;
  /* color: black;
    background-color: rgb(196, 178, 155); */
  cursor: pointer;
}

#result {
  margin: 4%;
}

#result button{
    margin-top: 5%;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 2%;
    border: none;
    font-size: 1em;
}

#result button:hover{
    color: rgb(214, 190, 163);
    background-color: rgb(54, 48, 41);
    padding: 2%;
    cursor: pointer;
}
p {
  margin: 2%;
}

input[type="submit"]:hover {
  color: rgb(214, 190, 163);
  background-color: rgb(54, 48, 41);
}

#back {
  margin-top: 3%;
}

textarea {
  border: 1px solid rgb(49, 39, 25);
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  width: 100%;
  margin-bottom: 3%;
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 241, 224);
}

#main {
  align-items: center;
  text-align: center;
  padding: 5%;
  margin: 5%;
}

.edit {
  font-weight: bold;
  font-size: 1.5em;
}

.separar{
    margin-bottom: 5%;
}

.field {
  padding: 5%;
  border-radius: 10px;
}
